<h2>Forgot Password</h2>

<form method="POST" action="/forgot">
  Email :<br>
  <input type="email" 
      name="emailaddress"  
      placeholder="Enter your email" 
      required>
  <br><br>
  <input type="submit" value="Submit">
</form> 
